[submodule "vendor/firecracker-nyx-patches"]
	path = vendor/firecracker-nyx-patches
	url = https://github.com/turtle261/firecracker-nyx-patches.git
	branch = nyx-patches
[submodule "test-binaries"]
	path = test-binaries
	url = https://github.com/nyx-fuzz/nyx-lite-test-binaries.git
